.button-group {
    width: 14%;
}

.music-box {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 30px;
    padding: 20px 5px;
}

.music-box .action-button {
    width: 80%;
    display: flex;
    align-items: center;
}

.music-box i.fa {
    font-size: 20px;
    font-weight: bold;
    color: #495057;
}

.progress-status {
    width: 40%;
    height: 50px;
    display: flex;
    flex-direction: column;
}

.progress-bar#music-progress-bar {
    height: 100%;
}

.progress#music-progress {
    width: 100%;
    height: 50%;
    border-radius: unset;
}

.capacity {
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.btn-audio {
    border: solid 1px #495057;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-audio:focus {
    outline: none;
}

.fa.fa-pause {
    display: none;
}

.btn-audio.speed {
    font-size: 20px;
    font-weight: bold;
    color: #495057;
}

.btn-audio.volume i {
    z-index: -999;
}

.display {
    display: block!important;
}

.not-display {
    display: none!important;
}

.volume-bar {
    position: relative;
}

.audio-background {
    background-color: #007bff;
}

.audio-background i.fa {
    color: white;
}

.volume-bar-status {
    width: 500%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #e9ecef;
    position: absolute;
}

.volume-bar-status #volume-bar {
    margin: 0 10px;
    /* overflow: hidden; */
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background: linear-gradient(to right, #007bff 0%, #007bff 100%);
    /* background: -webkit-gradient( linear, left top, right top, color-stop(1, #007bff), color-stop(1, #d3d3d3)); */
}

#volume-bar:hover {
    opacity: 1;
}

#volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #495057;
    cursor: pointer;
    /* box-shadow: -100vw 0 0 100vw dodgerblue; */
}

#volume-bar::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #495057;
    cursor: pointer;
    /* box-shadow: -100vw 0 0 100vw dodgerblue; */
}